<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Template Name: Newserific
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Newserific</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link rel="stylesheet" href="../static/layout.css" th:href="@{/layout.css}" type="text/css"/>
</head>
<body id="top">
<div class="wrapper col1">
    <div id="header">
        <div class="fl_left">
            <h1><a href="index.html">Newserific</a></h1>
            <p>Free Website Template</p>
        </div>
        <div class="fl_right"><a href="#"><img th:src="@{images/demo/468x60.gif}" alt="" /></a></div>
        <br class="clear" />
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
    <div id="topbar">
        <div id="topnav">
            <ul>
                <li class="active">
                    <form th:action="@{/}" method="get">
                        <input type="submit" value="Home"/>
                    </form>
                </li>
                <li>
                    <form th:action="@{/register}" method="get">
                        <input type="submit" value="Register"/>
                    </form>
                </li>
                <li class="active">
                    <form th:action="@{/login}" method="get">
                        <input type="submit" value="Login"/>
                    </form>
                </li>
<!--                <li><a th:href="@{pages/full-width.html}">Full Width</a></li>-->
                <li><a href="#">DropDown</a>
                    <ul>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </li>
                <li class="last"><a href="#">A Long Link Text</a></li>
            </ul>
        </div>
        <div id="search">
            <form action="#" method="post">
                <fieldset>
                    <legend>Site Search</legend>
                    <input type="text" value="Search Our Website&hellip;"  onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
                    <input type="submit" name="go" id="go" value="Search" />
                </fieldset>
            </form>
        </div>
        <br class="clear" />
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
    <div id="container">
        <div id="content">
            <div id="featured_post"><img th:src="@{images/demo/620x270.gif}" alt="" />
                <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>.</p>
                <p>This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
            </div>
            <div id="hpage_latest">
                <ul>
                    <li><img th:src="@{images/demo/190x80.gif}" alt="" />
                        <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
                        <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
                        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
                    </li>
                    <li><img th:src="@{images/demo/190x80.gif}" alt="" />
                        <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
                        <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
                        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
                    </li>
                    <li class="last"><img th:src="@{images/demo/190x80.gif}" alt="" />
                        <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
                        <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
                        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
                    </li>
                </ul>
                <br class="clear" />
            </div>
        </div>
        <div id="column">
            <ul id="latestnews">
                <li><img th:src="@{/images/demo/80x80.gif}" alt="" />
                    <p><strong><a href="#">Indonectetus facilis leo.</a></strong> Nullamlacus dui ipsum cons eque lobor ttis non euis que morbi penas dapi bulum orna. Urnaul trices quis curabitur.</p>
                </li>
                <li><img th:src="@{/images/demo/80x80.gif}" alt="" />
                    <p><strong><a href="#">Indonectetus facilis leo.</a></strong> Nullamlacus dui ipsum cons eque lobor ttis non euis que morbi penas dapi bulum orna. Urnaul trices quis curabitur.</p>
                </li>
                <li><img th:src="@{/images/demo/80x80.gif}" alt="" />
                    <p><strong><a href="#">Indonectetus facilis leo.</a></strong> Nullamlacus dui ipsum cons eque lobor ttis non euis que morbi penas dapi bulum orna. Urnaul trices quis curabitur.</p>
                </li>
                <li><img th:src="@{/images/demo/80x80.gif}" alt="" />
                    <p><strong><a href="#">Indonectetus facilis leo.</a></strong> Nullamlacus dui ipsum cons eque lobor ttis non euis que morbi penas dapi bulum orna. Urnaul trices quis curabitur.</p>
                </li>
                <li class="last"><img th:src="@{/images/demo/80x80.gif}" alt="" />
                    <p><strong><a href="#">Indonectetus facilis leo.</a></strong> Nullamlacus dui ipsum cons eque lobor ttis non euis que morbi penas dapi bulum orna. Urnaul trices quis curabitur.</p>
                </li>
            </ul>
        </div>
        <br class="clear" />
    </div>
    <br class="clear" />
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
    <div class="gallery">
        <h2>Latest Gallery Pics</h2>
        <ul>
            <li><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
            <li><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
            <li><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
            <li><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
            <li class="last"><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
            <li><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
            <li><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
            <li><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
            <li><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
            <li class="last"><a href="#"><img src="../static/images/demo/174x174.gif" alt="" /></a></li>
        </ul>
        <br class="clear" />
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col6">
    <div id="footer">
        <div class="footbox twitter">
            <h2>Latest From Twitter</h2>
            <ul>
                <li><a href="#">@TwitterName</a> nibhpede faucibulum ris phasellentum elit sed hend quisque.  1 day ago</li>
                <li><a href="#">@TwitterName</a> tellentumst monterdum augue curabitae elit felit, elitligula adipiscingilla. 1 day ago</li>
                <li><a href="#">@TwitterName</a> libero praesentum sed? 1 day ago</li>
                <li><a href="#">@TwitterName</a> condimentesque nec facilis pretium tellenterdum. Vivamusid elit curabitur augue. 1 day ago</li>
                <li><a href="#">@TwitterName</a> ligula sed ipsum in tellentesque donec ac. 1 day ago</li>
            </ul>
        </div>
        <div class="footbox flickr">
            <h2>Latest From Flickr</h2>
            <ul>
                <li><a href="#"><img src="../static/images/demo/80x80.gif" alt="" /></a></li>
                <li><a href="#"><img src="../static/images/demo/80x80.gif" alt="" /></a></li>
                <li><a href="#"><img src="../static/images/demo/80x80.gif" alt="" /></a></li>
                <li><a href="#"><img src="../static/images/demo/80x80.gif" alt="" /></a></li>
                <li><a href="#"><img src="../static/images/demo/80x80.gif" alt="" /></a></li>
                <li><a href="#"><img src="../static/images/demo/80x80.gif" alt="" /></a></li>
            </ul>
            <br class="clear" />
        </div>
        <div class="footbox posts">
            <h2>Latest Blog Posts</h2>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Praesent et eros</a></li>
                <li><a href="#">Praesent et eros</a></li>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Suspendisse in neque</a></li>
                <li><a href="#">Phasellus tempor vestibulum</a></li>
                <li><a href="#">Vestibulum quis augu mauris</a></li>
                <li class="last"><a href="#">Suspendisse in neque</a></li>
            </ul>
        </div>
        <div class="footbox banners last">
            <h2>Advertise Here</h2>
            <ul>
                <li><a href="#"><img src="../static/images/demo/200x150.gif" alt="" /></a></li>
                <li><a href="#"><img src="../static/images/demo/200x150.gif" alt="" /></a></li>
            </ul>
        </div>
        <br class="clear" />
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col7">
    <div id="copyright">
        <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Domain Name</a></p>
        <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
        <br class="clear" />
    </div>
</div>
</body>
</html>