<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Newserific</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link rel="stylesheet" href="../static/layout.css" th:href="@{/layout.css}" type="text/css"/>
</head>
<body>
<div class="wrapper col1">
    <div id="header">
        <div class="fl_left">
            <h1><a href="index.html" th:href="@{index.html}">Newserific</a></h1>
            <p>Free Website Template</p>
        </div>
        <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt=""/></a></div>
        <br class="clear"/>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
    <div id="topbar">
        <div id="topnav">
            <ul>
                <li>
                    <form th:action="@{/}" method="get">
                        <input type="submit" value="Home"/>
                    </form>
                </li>
                <li class="active">
                    <form th:action="@{/register}" method="get">
                        <input type="submit" value="Register"/>
                    </form>
                </li>
                <li class="active">
                    <form th:action="@{/login}" method="get">
                        <input type="submit" value="Login"/>
                    </form>
                </li>
<!--                <li><a th:href="@{pages/full-width.html}">Full Width</a></li>-->
                <li><a href="#">DropDown</a>
                    <ul>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </li>
                <li class="last"><a href="#">A Long Link Text</a></li>
            </ul>
        </div>
        <div id="search">
            <form action="#" method="post">
                <fieldset>
                    <legend>Site Search</legend>
                    <input type="text" value="Search Our Website&hellip;"
                           onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;"/>
                    <input type="submit" name="go" id="go" value="Search"/>
                </fieldset>
            </form>
        </div>
        <br class="clear"/>
    </div>
</div>
<p>
    <i th:if="${error != null}" th:text="${error}" class = "error"/>
</p>

<form action='#' th:action="@{/authenticate}" method="post"
      style="padding: 0px 0px 0px 150px">
    <div class="form-group">
        <label>Username</label>
        <input type="text" id="username" name="username"
               style="width: 300px"/>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input  type="password" id="password" name="password"
               style="width: 300px"/>
    </div>



    <input style="width: 110px; margin: 10px 0 0 0px" type="submit" value="Login" class="btn btn-success"/>
</form>

</body>
</html>