<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Newserific</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link rel="stylesheet" href="../static/layout.css" th:href="@{/layout.css}" type="text/css"/>
</head>
<body>
<div class="wrapper col1">
    <div id="header">
        <div class="fl_left">
            <h1><a href="index.html" th:href="@{index.html}">Newserific</a></h1>
            <p>Free Website Template</p>
        </div>
        <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt=""/></a></div>
        <br class="clear"/>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
    <div id="topbar">
        <div id="topnav">
            <ul>
                <li>
                    <form th:action="@{/}" method="get">
                        <input type="submit" value="Home"/>
                    </form>
                </li>
                <li class="active">
                    <form th:action="@{/register}" method="get">
                        <input type="submit" value="Register"/>
                    </form>
                </li>
                <li class="active">
                    <form th:action="@{/login}" method="get">
                        <input type="submit" value="Login"/>
                    </form>
                </li>
<!--                <li><a th:href="@{pages/full-width.html}">Full Width</a></li>-->
                <li><a href="#">DropDown</a>
                    <ul>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </li>
                <li class="last"><a href="#">A Long Link Text</a></li>
            </ul>
        </div>
        <div id="search">
            <form action="#" method="post">
                <fieldset>
                    <legend>Site Search</legend>
                    <input type="text" value="Search Our Website&hellip;"
                           onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;"/>
                    <input type="submit" name="go" id="go" value="Search"/>
                </fieldset>
            </form>
        </div>
        <br class="clear"/>
    </div>
</div>
<p>
    <i th:if="${error != null}" th:text="${error}" class = "error"/>
</p>

<form action='#' th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data"
      style="padding: 0px 0px 0px 150px">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" minlength="3" maxlength="50" required type="text" th:field="*{username}"
               style="width: 300px"/>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" minlength="6" maxlength="68" required pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$" type="password" th:field="*{password}"
               style="width: 300px"/>
    </div>
    <div class="form-group">
        <label>Retype Password</label>
        <input class="form-control" minlength="6" maxlength="68" required pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$" type="password" th:field="*{passwordConfirmation}"
               style="width: 300px"/>
    </div>
    <div class="form-group">
        <label>First name</label>
        <input style="width: 300px" minlength="3" maxlength="15" required class="form-control" type="text" th:field="*{firstName}">
    </div>
    <div class="form-group">
        <label>Last name</label>
        <input style="width: 300px" minlength="3" maxlength="15" required class="form-control" type="text" th:field="*{lastName}">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input style="width: 300px" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$" class="form-control" type="text" th:field="*{email}">
    </div>


    <div id="upload-image-container">
        <div class="row">
            <div class="col-xs-6">
                <div style="margin-left: 95px; padding-top: 5px">
                    <label for="imagefile file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Change picture
                    </label>
                    <input id="imagefile file-upload" name="imagefile" type="file" style="display: none">
                </div>
            </div>
        </div>
    </div>


    <input style="width: 110px; margin: 10px 0 0 0px" type="submit" value="Register" class="btn btn-success">/>
</form>

</body>
</html>